<template>
  <div class="banner-wrapper">
    <Navbar />
  </div>
</template>

<script>
import Navbar from './navbar.vue';
export default {
  components: { Navbar },
};
</script>

<style lang="scss" scoped>
.banner-wrapper {
  display: grid;
}
</style>
