<template>
  <footer>
    <div class="footer-wapper">
      <div class="footer-content">
        <p class="footer-title">All rights reserved by Movia</p>
        <p class="footer-subtitle">Developer by M Usman Islam</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
footer {
  width: 100%;
  background: black;
  position: relative;
  z-index: 0;
}
.footer-wapper {
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
}
</style>
