<template>
  <div class="nav-wrapper">
    <nav class="nav">
      <router-link to="/" class="logo">MOVEA</router-link>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/abstract/media.scss';
.nav-wrapper {
  width: 6vw;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.495);
  position: relative;
  background: rgba(0, 0, 0, 0.219);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    color: white;
    font-weight: bold;
  }
}

@media screen and (max-width: $lower-medium-desktop) {
  .nav-wrapper {
    width: 100%;
    height: 6vh;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.495);
  }
}
</style>
