.btn {
  font-size: 20px;
  text-transform: capitalize;
  border: 1px solid $bg-color;
  padding: 12px 30px;
  background: $bg-color;
  cursor: pointer;
  color: #453b36;
}

.btn:hover {
  background: $secondary-color;
  color: $bg-color;
}

.outline {
  background: none;
  color: $bg-color;
}
.btn-small {
  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid $bg-color;
  padding: 5px 15px;
  background: $bg-color;
  font-weight: bold;
  cursor: pointer;
  color: #453b36;
}

.megnifire {
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

@media screen and (max-width: $lower-medium-desktop) {
  .megnifire {
    font-size: 1.5rem;
    position: absolute;
    right: 2.5rem;
    top: 3rem;
  }
}

