@import './abstract/variables';
@import './abstract/fonts';
@import './abstract/media';
@import './general';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s all ease-in-out;
  letter-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato';
  font-size: 1rem;
  line-height: 1.5;
  color: white;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #72675f00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #72675f00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #72675f00;
}
