@font-face {
  font-family: 'Monument';
  src: url('@/assets/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Monument';
  src: url('@/assets/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
