$extra-large-desktop: 1920px;
$large-desktop: 1600px;
$medium-desktop: 1400px;
$lower-medium-desktop: 1024px;
$small-desktop: 991px;
$tablet: 768px;
$extra-large-mobile: 575px;
$large-mobile: 475px;
$medium-mobile: 375px;
$small-mobile: 320px;
