<template>
  <div class="landing-page">
    <span
      class="lnr lnr-magnifier megnifire"
      @click="updateToogle(toggleSearch)"
      v-if="!toggleSearch"
    ></span>
    <Banner />

  
    <Movies
      :movies="upComingmovies"
      :loading="upComingloading"
      heading="Upcoming Movies"
      subheading="Wating for upcominig movies"
    />
    <Movies
      :movies="topRatedMovies"
      :loading="topRatedMoviesloading"
      heading="Toprated Movies"
      subheading="Watch high quality top movies"
    />
    <Movies
      :movies="populorMovies"
      :loading="populorMoviesloading"
      heading="Populor Movies"
      subheading="Watch Populor movies"
    />

    <SearchMovies v-if="toggleSearch" />
  </div>
</template>

<script>
import Banner from '@/components/banner.vue';
import Movies from '@/components/moviesSlider.vue';

import SearchMovies from '@/pages/searchMovies.vue';

import { createNamespacedHelpers } from 'vuex-composition-helpers';
const { useState, useActions } = createNamespacedHelpers('movies');

export default {
  components: {
    Banner,
    Movies,
    SearchMovies,
  },
  setup() {
    const {
      upComingmovies,
      upComingloading,
      topRatedMovies,
      topRatedMoviesloading,
      populorMovies,
      populorMoviesloading,
      toggleSearch,
    } = useState([
      'upComingmovies',
      'upComingloading',
      'topRatedMovies',
      'topRatedMoviesloading',
      'populorMovies',
      'populorMoviesloading',
      'toggleSearch',
    ]);
    const {
      fetchUpComingMovies,
      fetchTopRatedMovies,
      fetchPopulorMovies,
      resetSearchMovies,
      updateToogle,
    } = useActions([
      'fetchUpComingMovies',
      'fetchTopRatedMovies',
      'fetchPopulorMovies',
      'resetSearchMovies',
      'updateToogle',
    ]);
    fetchUpComingMovies();
    fetchTopRatedMovies();
    fetchPopulorMovies();
    updateToogle(true);
    resetSearchMovies();
    return {
      upComingmovies,
      upComingloading,
      topRatedMovies,
      topRatedMoviesloading,
      populorMovies,
      populorMoviesloading,
      toggleSearch,
      updateToogle,
    };
  },
};
</script>

<style lang="scss" scoped></style>
