<template>
  <div v-if="topRatedMoviesloading == 'pending'"><Loader /></div>
  <div
    class="movie-details-wrapper"
    v-for="movie in topRatedMovies"
    :key="movie.id"
    v-else
  >

  
    <div class="img-box">
      <img
        :src="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
        :alt="movie.poster_path"
      />
    </div>

    <div class="movie-content">
      <div class="content-container">
        <p class="movie-name">{{ movie.title }}</p>
      </div>

      <div class="content-container">
        <h2>Top 10 rated movies chart</h2>
        <LineChart :data="topTenMovies" />
      </div>

      <div class="content-container">
        <h2>Top secondry chart</h2>
        <LineChart :data="topRatedMovies" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/reactivity';

import { createNamespacedHelpers } from 'vuex-composition-helpers';
const { useState, useActions } = createNamespacedHelpers('movies');

import LineChart from '@/components/linechart.vue';
import { computed } from '@vue/runtime-core';
import Loader from '@/components/loader.vue';
export default {
  components: { LineChart,Loader },

  setup() {
    const data = ref();
    const { topRatedMovies, topRatedMoviesloading } = useState([
      'topRatedMovies',
      'topRatedMoviesloading',
    ]);
    const { fetchTopRatedMovies } = useActions(['fetchTopRatedMovies']);

    fetchTopRatedMovies();

    const topTenMovies = computed(() => {
      return topRatedMovies.value.splice(10);
    });

    return { data, topRatedMovies, topRatedMoviesloading, topTenMovies };
  },
};
</script>

<style lang="scss">
.movie-details-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  svg {
    display: block;
    fill: none;
    stroke: none;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .content-container {
    margin: 2rem 0;
  }
}
</style>
