<template>
  <!-- <router-link to="/" class="btn">Go Back</router-link> -->

  <div v-if="singleMovieloading == 'pending'"><Loader /></div>

  <div v-else class="movie-details-wrapper">
    <div class="img-box">
      <img
        :src="'https://image.tmdb.org/t/p/w500/' + singleMovie.poster_path"
        :alt="singleMovie.poster_path"
      />
    </div>
    <div class="movie-content">
      <div class="content-container">
        <p class="movie-name">{{ singleMovie.title }}</p>
      </div>
      <div class="content-container">
        <p class="movie-made-by">
          <span class="movie-release-date">{{ singleMovie.release_date }}</span>
          <span class="tag"> Made by</span
          >{{ singleMovie.production_countries[0].name }}
        </p>
      </div>
      <div class="content-container flex">
        <p class="movie-rating">
          <span class="tag">Rating:</span>
          {{ singleMovie.vote_average }}
        </p>
        <p class="movie-voting">
          <span class="tag">Total Votes:</span> {{ singleMovie.vote_count }}
        </p>
        <p class="movie-voting">
          <span class="tag">Run Time:</span> {{ singleMovie.runtime }}
        </p>
      </div>
      <div class="content-container">
        <p class="movie-overview">
          <span class="tag">Overview</span><br />{{ singleMovie.overview }}
        </p>
      </div>
      <div class="content-container">
        <p class="movie-overview">
          <span class="tag">Languages</span><br />
          <span
            class="tag-data"
            v-for="lang in singleMovie.spoken_languages"
            :key="lang.english_name"
            >{{ lang.english_name }}</span
          >
        </p>
      </div>
      <div class="content-container">
        <p class="movie-overview">
          <span class="tag">Production by</span><br />
          <span
            class="tag-data"
            v-for="lang in singleMovie.production_companies"
            :key="lang.name"
            >{{ lang.name }}</span
          >
        </p>
      </div>
    </div>
  </div>
  <Movies
    :movies="recommendationMovies"
    :loading="recommendationMoviesloading"
    heading="Recommendations Movies"
    subheading="Watchup fav movies"
  />
</template>

<script>
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import Movies from '@/components/moviesSlider.vue';

import { createNamespacedHelpers } from 'vuex-composition-helpers';
const { useState, useActions } = createNamespacedHelpers('movies');
import Loader from '@/components/loader.vue';
export default {
  components: { Movies, Loader },
  setup() {
    const route = useRoute();
    const { id } = route.params;

    const {
      singleMovie,
      singleMovieloading,
      recommendationMovies,
      recommendationMoviesloading,
    } = useState([
      'singleMovie',
      'singleMovieloading',
      'recommendationMovies',
      'recommendationMoviesloading',
    ]);
    const { fetchSingleMovie, fetchRecomendationMovies } = useActions([
      'fetchSingleMovie',
      'fetchRecomendationMovies',
    ]);
    fetchSingleMovie(id);
    fetchRecomendationMovies(id);

    let loading = computed(() => {
      return singleMovieloading === 'pending' ? true : false;
    });

    return {
      singleMovie,
      loading,
      singleMovieloading,
      recommendationMovies,
      recommendationMoviesloading,
    };
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/abstract/variables.scss';
@import '@/assets/scss/abstract/media.scss';
.movie-details-wrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: 25vw 1fr;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .movie-content {
    border-top: 2px solid $bg-color;
    border-bottom: 2px solid $bg-color;
    .content-container {
      margin: 1rem 0;
      border-bottom: 1px solid $secondary-color;
      padding-bottom: 15px;
      .movie-name {
        font-size: 2.5rem;
        font-family: 'Monument';
        text-transform: uppercase;
      }

      .movie-made-by {
        font-size: 14px;
        font-weight: bold;
      }
      .movie-release-date {
        font-size: 18px;
        font-weight: 300;
      }

      .tag {
        font-size: 16px;
        font-weight: bold;
        padding-right: 5px;
      }

      .movie-overview {
        font-size: 14px;
      }
    }
  }
}

.flex {
  display: flex;
}
.flex {
  p {
    padding-right: 1rem;
  }
}

.tag-data {
  padding-right: 1rem;
}

@media screen and (max-width: $lower-medium-desktop) {
  .movie-details-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 1fr;
    height: auto;
    margin-top: 2rem;

    .img-box {
      width: 180px;
      height: 230px;
      position: relative;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        object-fit: cover;
      }
    }
  }

  .movie-content {
    margin-top: 2rem;
  }
  .flex {
    flex-direction: column;
  }
}
</style>
