<template>
  <div class="movie-wrapper">
    <span
      class="lnr lnr-cross megnifire"
      @click="updateToogle(toggleSearch)"
    ></span>
    <div class="input-wrapper">
      <p class="search-text">Type for search any movies</p>
      <input type="text" v-model="search" placeholder="Type for search" />
    </div>

    <div v-if="searchMoviesloading == 'pending'"><Loader /></div>
    <div class="results" v-else>
      <router-link
        :to="`/movie-details/${movie.id}`"
        class="list"
        v-for="movie in searchMovies"
        :key="movie"
      >
        <div class="img-box">
          <img
            :src="'https://image.tmdb.org/t/p/w500/' + movie.backdrop_path"
            :alt="movie.backdrop_path"
          />
        </div>
        <div>
          <p class="movie-info">{{ movie.title }}</p>
          <p class="movie-info">{{ movie.release_date }}</p>
          <p class="movie-overview">{{ movie.overview }}</p>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import { ref, watch } from 'vue';

import { createNamespacedHelpers } from 'vuex-composition-helpers';
const { useState, useActions } = createNamespacedHelpers('movies');

import Loader from '@/components/loader.vue';
export default {
  components: { Loader },
  setup() {
    const search = ref(null);

    const { searchMovies, searchMoviesloading, toggleSearch } = useState([
      'searchMovies',
      'searchMoviesloading',
      'toggleSearch',
    ]);

    const { fetchSearchMovies, resetSearchMovies, updateToogle } = useActions([
      'fetchSearchMovies',
      'resetSearchMovies',
      'updateToogle',
    ]);
    0;

    watch(search, (value) => {
      if (value == '') {
        resetSearchMovies();
        return;
      }
      fetchSearchMovies(value);
    });

    return {
      search,
      searchMovies,
      searchMoviesloading,
      updateToogle,
      toggleSearch,
    };
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/abstract/variables.scss';
@import '@/assets/scss/abstract/media.scss';
.movie-wrapper {
  position: fixed;
  z-index: 50;
  inset: 0;
  background: #002a3dc9;
  overflow-y: scroll;
  .input-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;

    .search-text {
      margin-bottom: 1rem;
      text-transform: capitalize;
      font-size: 14px;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 2px;
    }
  }

  .results {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;

    .img-box {
      width: 200px;
      height: 300px;
      position: relative;
      img {
        position: absolute;
        inset: 0;
        height: 100%;
        object-fit: cover;
      }
    }
    .list {
      width: 100%;
      margin: 1rem 0;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 15vw 1fr;
      justify-content: center;
      align-items: center;
      .movie-info {
        color: white;
        font-size: 1.5rem;
      }
      .movie-overview {
        font-size: 12px;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $lower-medium-desktop) {
  .movie-wrapper {
    .results {
      .img-box {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .list {
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 1fr;
      }
    }
  }
}
</style>
