<template>
  <div class="hero-landing">
    <span class="upper-title">Download Unlimted Movies</span>
    <div class="hero-inner">
      <h1 class="hero-inner-heading">Movia</h1>
      <h2 class="hero-inner-heading-outline">Ready Pupcorns</h2>
      <p class="hero-inner-subheading">
        Download Movia YIFY movies: HD smallest size
      </p>
      <p class="hero-inner-description">
        Welcome to the official Movia.MX (.LT) website. Here you can browse and
        download YIFY movies in excellent 720p<br />
        1080p, 2160p 4K and 3D quality, all at the smallest file size. Movia
        Movies Torrents.
      </p>
      <div class="hero-inner-button">
        <router-link to="/top-ratetd-movie-stats" class="btn"
          >Top rated movies stats</router-link
        >

        <a href="#" class="btn outline">Watch Free</a>
      </div>
    </div>
    <div>
      <span class="lower-title">Movies Big Data</span> <br />
      <span class="lower-title-black">Ready Pupcorns</span>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/abstract/variables.scss';
@import '@/assets/scss/abstract/fonts.scss';

@import '@/assets/scss/abstract/media.scss';
.hero-landing {
  height: 100vh;
  max-height: 100vh;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .upper-title,
  .lower-title {
    font-weight: bold;
    font-size: 12px;
    color: $primary-light-color;
  }

  .lower-title-black {
    font-size: 12px;
  }

  .hero-inner {
    &-heading {
      font-size: 5rem;
      font-family: 'Monument';
      text-transform: uppercase;
      letter-spacing: -5px;
    }
    &-heading-outline {
      font-size: 3rem;
      text-transform: uppercase;
      font-family: 'Monument';
      letter-spacing: 10px;

      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
      color: rgba($color: #fff, $alpha: 0);
      margin-top: -2rem;
    }
  }

  .hero-inner-button {
    display: flex;
    margin: 1rem 0;

    .btn + .btn {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: $lower-medium-desktop) {
  .hero-landing {
    text-align: center;
    .hero-inner {
      &-heading {
        font-size: 2.5rem;
      }
      &-heading-outline {
        font-size: 1.5rem;
        margin-top: 0rem;
      }

      .hero-inner-description {
        font-size: 14px;
      }
    }
  }

  .hero-inner-button {
    display: flex;
    flex-direction: column;

    .btn + .btn {
      display: block;
      margin-left: 0 !important;
    }
    .btn {
      margin: 1rem 0;
    }
  }
}
</style>
