<template>
  <div class="loader-wrapper">
    <PulseLoader />
  </div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
export default {
  components: { PulseLoader },
};
</script>

<style lang="scss" scoped>
.loader-wrapper {
  position: absolute;
  z-index: 10000;
  inset: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
