<template>
  <div class="upcoming-movies">
    <div class="slider-content">
      <h1 class="slider-heading">{{ heading }}</h1>
      <p class="slider-subheading">{{ subheading }}</p>
    </div>

    <div v-if="loading == 'pending'"><Loader /></div>
    <div v-else>
      <!-- :autoplay="5000" -->
      <carousel
        :breakpoints="breakPoints"
        :items-to-show="2.5"
        :settings="carouselSetting"
        :wrap-around="true"
      >
        <slide v-for="movie in movies" :key="movie.id">
          <MovieCard :movie="movie" />
        </slide>
      </carousel>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';

import MovieCard from '@/components/movieCard.vue';
import Loader from '@/components/loader.vue';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
  components: { MovieCard, Carousel, Slide, Pagination, Navigation, Loader },
  props: ['movies', 'loading', 'heading', 'subheading'],
  setup() {
    const carouselSetting = ref({
      itemsToShow: 1,
      snapAlign: 'left',
    });
    const breakPoints = ref({
      768: {
        itemsToShow: 2,
        snapAlign: 'left',
      },
      1024: {
        itemsToShow: 3,
        snapAlign: 'left',
      },
      1400: {
        itemsToShow: 5,
        snapAlign: 'left',
      },
    });

    return { carouselSetting, breakPoints };
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/abstract/variables.scss';
@import '@/assets/scss/abstract/media.scss';
.upcoming-movies {
  padding: 1rem;

  .slider-content {
    border-bottom: 1px solid $bg-color;
    .slider-heading {
      font-family: 'Monument';
      font-size: 32px;
    }

    .slider-subheading {
      color: $primary-light-color;
    }
  }
}
@media screen and (max-width: $lower-medium-desktop) {
  .upcoming-movies {
    .slider-content {
      text-align: center;
      .slider-heading {
        font-family: 'Monument';
        font-size: 24px;
      }
    }
  }
}
</style>
