<template>
  <div class="movie-card-wrapper" @click="goDetailPage(movie.id)">
    <div class="movie-card">
      <div class="card-imgbox">
        <img
          :src="'https://image.tmdb.org/t/p/w500/' + movie.backdrop_path"
          :alt="movie.backdrop_path"
        />
      </div>
      <div class="card-inner">
        <p class="rating">
          <span class="tag">Rating</span> <br />
          {{ movie.vote_average }} / 10
        </p>
        <p class="vote">
          <span class="tag">Vote</span><br />
          {{ movie.vote_count }}
        </p>

        <router-link :to="`/movie-details/${movie.id}`" class="btn-small"
          >Details</router-link
        >
      </div>
    </div>
    <div class="movie-details">
      <p class="movie-name">{{ movie.original_title }}</p>
      <p class="movie-realease-date">{{ movie.release_date }}</p>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router';
export default {
  props: ['movie'],

  setup() {
    const router = useRouter();

    const goDetailPage = (id) => {
      router.push({
        path: `/movie-details/${id}`,
      });
    };
    return {goDetailPage};
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/abstract/variables.scss';

.movie-card-wrapper {
  margin: 1rem 0;
}
.movie-card {
  width: 180px;
  height: 230px;
  max-width: 180px;
  max-height: 230px;
  background: $bg-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  &:hover {
    background: $primary-light-color;

    .card-inner {
      opacity: 1;
    }
  }

  .card-imgbox {
    width: 97%;
    height: 97%;

    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      inset: 0;
      object-fit: cover;
    }
  }

  .card-inner {
    position: absolute;
    z-index: 2;
    background: #453b36d5;
    inset: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .tag {
      font-size: 14px;
      font-weight: bold;
    }
    p {
      font-size: 12px;
    }

    .vote {
      margin-bottom: 10px;
    }
  }
}

.movie-details {
  max-width: 180px;
  margin: 5px 0;

  border-bottom: 2px solid $primary-light-color;
  padding-bottom: 10px;
  .movie-name {
    font-size: 14px;
    font-weight: 500;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .movie-realease-date {
    font-size: 10px;
    color: $primary-light-color;
    font-weight: bold;
  }
}
</style>
