<template>
  <notifications position="bottom right" width="400" :duration="3000" />
  <PrimaryLayout>
    <router-view v-slot="{ Component, route }" :key="$route.fullPath">
      <transition name="route" mode="out-in">
        <div :key="route.name">
          <component :is="Component"></component>
        </div>
      </transition>
    </router-view>
  </PrimaryLayout>
</template>
<script>
import PrimaryLayout from './layouts/default.vue';
export default {
  components: {
    PrimaryLayout,
  },
};
</script>

<style lang="scss" scoped>
/* route transitions */
.route-enter-from {
  opacity: 0;
}
.route-enter-active {
  transition: all 0.1s ease-out;
}
.route-leave-to {
  opacity: 0;
}
.route-leave-active {
  transition: all 0.1s ease-in;
}
</style>
