<template>
  <div class="carma-movie-app">
    <div class="blur-wrapper"></div>
    <Navbar />

    <div class="main-wrapper">
      <slot />
    </div>
    <div class="left-side"></div>
    <!-- <Footer /> -->
  </div>
</template>

<script>
import Navbar from './components/navbar.vue';
import Footer from './components/footer.vue';

export default {
  components: { Footer, Navbar },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/abstract/media.scss';

.carma-movie-app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  // background: rebeccapurple;
  background-attachment: fixed;

  background: url('../assets/images/bg.jpg');
  background-size: cover;
  inset: 0;
  z-index: 1;
  filter: grayscale(40%);

  display: grid;

  grid-template-columns: 6vw 1fr 15vw;
  .blur-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: url('../assets/images/bg.jpg');
    background-size: cover;
    filter: blur(300px);
    opacity: 0.2;
  }

  .main-wrapper {
    overflow-y: scroll;
    z-index: 10;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    inset: 0;
    z-index: 0;
  }

  &::before {
    background: rgba(3, 13, 31, 0.575);
  }
}

@media screen and (max-width: $lower-medium-desktop) {
  .carma-movie-app {
    grid-template-columns: 1fr;
    grid-template-rows: 6vh 1fr;
  }
}
</style>
